@import 'variables';

:root {
    font-size: $font-size;
    font-family: $font-family;
    background: $very-dark-blue;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.hidden {
    display: none;
}

body {
    .container {
        display: flex;
        flex-direction: column;
        width: 19em;
        height: 100%;
        margin: auto;
        margin-top: 10em;
        padding: 1.5em;
        background: $dark-blue;
        border-radius: 15px;
        //box-shadow: inset 0px -50px 200px -100px;
        box-shadow: inset 0px -150px 300px -175px;
    }

    .rating {
        .rtncontainer {
            &__icon {
                height: 0.9em;
                width: 0.9em;
                background: $dark-blue;
                border-radius: 50%;
                padding: 0.9em;
            }

            &__title {
                color: $white;
                font-size: 1.65rem;
                font-weight: 700;
            }

            &__desc {
                color: $light-grey;
                font-size: 0.95rem;
                margin: 0 0 2em 0;
                line-height: 1.5em;
            }

            &__rating {
                display: flex;
                flex-direction: row;
                color: $medium-grey;
                font-size: 0.9rem;
                justify-content: space-between;
                
                .number {
                    height: 1em;
                    width: 1em;
                    background: $dark-blue;
                    border-radius: 50%;
                    padding: 1em;
                    text-align: center;
                    margin: 0;

                    &:hover {
                        background: $orange;
                        color: $white;
                    }
                }

                .selected {
                    background: $light-grey;
                    color: $white;
                }
            }

            &__btn {
                border: none;
                background: $orange;
                color: $white;
                font-family: inherit;
                font-size: 0.9rem;
                text-transform: uppercase;
                letter-spacing: 0.25em;
                text-align: center;
                padding: 1em;
                margin: 1.75em 0 0.75em;
                border-radius: 25px;
                cursor: pointer;

                &:hover {
                    background: $white;
                    color: $orange;
                }
            }
        }
    }

    .thankyou {
        .tycontainer {
            &__img {
                width: 9em;
                margin: 0.5em auto 1.5em;
            }

            &__selected {
                color: $orange;
                background-color: $dark-blue;
                border-radius: 30px;
                margin: auto;
                padding: 0.5em 0.75em;
                font-size: 0.9rem;
            }

            &__title {
                color: $white;
                margin: 1em auto 0.5em;
                font-weight: 700;
            }

            &__desc {
                color: $light-grey;
                margin: auto auto 1em;
                text-align: center;
            }
        }
    }

    footer.attribution {
        display: none;
    }
}

@media only screen and (min-width: 1440px) {
    :root {
        height: 100vh;
    }
    body {
        .container {
            width: 23em;
            margin-top: 14em;
            padding: 2em;
        }
        
        .rating {
            .rtncontainer {
                &__icon {
                    height: 1.25em;
                    width: 1.25em;
                    padding: 1em;
                }
    
                &__title {
                    font-size: 1.85rem;
                    margin: 1.25em 0 0.5em;
                }

                &__desc {
                    font-size: 1rem;
                    margin: 0 0 1.6em 0;
                }

                &__rating {
                    font-size: 1.1rem;
                    
                    .number {
                        margin-bottom: 0.6em;
                    }
                }

                &__btn {
                    font-size: 1rem;
                    letter-spacing: 0.2em;
                    margin: 1.5em 0 0;
                }
            }
        }

        .thankyou {
            .tycontainer {
                &__img {
                    width: 11em;
                    margin: 1em auto 2em;
                }
    
                &__selected {
                    padding: 0.5em 1.25em;
                    font-size: 1rem;
                }
    
                &__title {
                    margin: 1.25em auto 0.5em;
                    font-size: 1.75rem;
                }
    
                &__desc {
                    margin: auto auto 1.25em;
                    line-height: 1.5em;
                    font-size: 1.025rem;
                }
            }
        }

        footer.attribution {
            display: block;
            position: absolute;
            bottom: 0;
            color: $medium-grey;
            
            a {
                color: orange;
                cursor: pointer;
            }
        }
    }
}